<table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td class="align-middle">
                <a routerLink="/product/{{product.id}}">
                    <img src="{{product.imageUrl}}" height="50">
                </a>
            </td>
            <a routerLink="">
            <td>{{product.name }}</td>
        </a>
            <td>{{product.unitPrice | currency:'USD'}}</td>
            <td>{{product.unitsInStock }}</td>
        </tr>
    </tbody>
</table>